.hero{
    margin-top: 40px;
    
    &__sectionOne{
        display: flex;
        justify-content: space-between;
    }

    &__content{
        display: flex;
        flex-direction: column;
        max-width:47%;
        // flex-basis: calc(527/1100*100%);
        justify-content: center;
        align-items: flex-start;
       
     
    }
    // &__images{
      
    // }
    
    &__rectangle{
        position: absolute;
        width:100vw;
        height:100vh;
        z-index: -999;
        bottom: -46px;
        left:-60px;
        background-color: #F1EADC;
    }

    &__title{
        /* Заголовок h1 */
         
         font-family: 'Raleway';
         font-style: normal;
         font-weight: 500;
         font-size: 55px;
         line-height: 110%;
         /* or 61px */

         letter-spacing: 0.02em;

         color: #000000;         
           
          
    }

    &__btn{
        display:flex;
        align-items: center;
        height:67px;
        margin: 52px 0 0 39.9px;
        cursor: pointer;
        
        &--img{
            display: flex;
            align-items: center;
            justify-content: center;
            height: 100%;
            width:67px;
            background-color: rgba(110, 156, 159, 0.1);
        }
        &--text{
            display: flex;
            padding: 22px 50px 22px 50px;
            align-items: center;
            justify-content: center;
            height: 100%;
            background: #6E9C9F;
            color:#FFFFFF
        }
        font-family: 'Raleway';
        font-style: normal;
        font-weight: 400;
        font-size: 17px;
        line-height: 138.9%;
        /* identical to box height, or 24px */

        text-align: center;
        letter-spacing: 0.02em;

        color: #FFFFFF;
    }

    &__text{

        margin-top: 35px;
    
        font-size: 20px;
        line-height: 140%;
        text-align: left;
   
    }

    &__images{
        position: relative;
        
        .hero__image2{
            position: absolute;
            top:378px;
            left:-130px;
            bottom:0;
        }
        .hero__image1{
            position: absolute;
            top:114px;
            left:310px
            
        }
    }
}

@media (max-width:1200px){
    .hero{
        &__images{
            max-width: 100%;
            position: relative;
            img{
                max-width: 100%;
                height: auto;
            }
            .hero__image2{
                left:-80px;
             
            }
           
        }
    }
}
@media (max-width:1024px){
    .hero{
        &__title{
            font-size: 37px;
        }
        
        &__text{
            width:100%;
          
            font-size: 20px;
           
        }
    
        &__btn{
           
            margin: 42px 0 0 0px;
            &--text{
             
                padding: 12px  25px;
                
              
            }
            
        }
        &__images{
            max-width: 100%;
            position: relative;
            img{
                max-width: 100%;
                height: auto;
            }
            .hero__image2, .hero__image1{
                display: none;
             
            }
           
        }
    }
            
}
@media (max-width:768px){

 
}
@media (max-width:568px){
  .hero{
  
    &__content{
        max-width:100%;
        
        justify-content: center;
    }
    &__btn{
     
        align-self: center;
        
    }
    &__images
    {
        display: none;
     
    }
    &__title{
        margin-top: 40px;
        
        text-align: center;
    }
    
    &__text{
        width: 100%;
        text-align: center;
       
    }
  }
}