/* GENERALS */

.App{
  
  min-height: 100vh;
  display:flex;
  flex-direction: column;
}

.container{

  max-width: 1115px;
  padding:0 15px;
  margin: auto;
  
}


@media (max-width:1200px){
  .container{
    max-width: 950px;
  }
}
@media (max-width:1024px){
  .container{
    max-width: 800px;
  }
}
@media (max-width:768px){
  .container{
    max-width: 600px;
  }
}
@media (max-width:568px){
  .container{
    max-width: 90%;
  }
}

// style imports 

@import './components/Header/Header.scss';
@import "./pages/Login/Login.scss";
@import "./pages/Register/Register.scss";